<div class="flex-container">

  <div class="flex-item">

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
      <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
        <button class="btn btn-secondary">
        <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
        </button>
        <span class="name mt-3">Anna</span>
          <div class="d-flex flex-row justify-content-center align-items-center gap-2">
            </span>
          </div>
          <div class="d-flex flex-row justify-content-center align-items-center mt-3">
              </span> </div> <div class=" d-flex mt-2">
          </div>
          <div class="text mt-3 text-start">
            <span class="name-title text-white text-center">aa</span>
            <br>
            <span>user_name</span>
            <br>
            <span>user_name</span>
          </div>
        </div>
      </div>
    </div>




  </div>



</div>
