body {
  background-color: rgb(235, 226, 226)
}

.card {
  width: 350px;
  background-color: #cfc0c0;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}

.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
}

.name {
  font-size: 22px;
  font-weight: bold
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.flex-container {
  display: flex;
  flex-direction: column;
}
