.card-category {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  overflow-x: scroll;
  min-height: 120px;
  background-position: center;
  background-size: cover;
  color: #fefefe;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(13, 13, 13);
  border: 1px solid #464646;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(54, 54, 54, 0.2);
}

.title-card{
  color: #000000;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 5px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-category:hover{
  transition: 0.8s ease;
  transform: scale(1.04);
  opacity: 1;
}
