.banner-top{
  background: #D5D8B5;
  height: 11vh;
  padding-top: 5px;
}

.logo-site{
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 120px;
}

.mobile-top-nav{
  height: 7vh;
}
