$navbar-height: 8vh;

.placehold-navbar{
  margin-top: 10px;
  height: $navbar-height;
  width: 100%;
}

.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	transform: translateZ(0);
	display:flex;
  justify-content: space-between;
	height: $navbar-height;
	box-shadow: 0 -1px 5px -2px rgb(136, 136, 136);
	background-color:#D5D8B5;


	&__item{
		flex-grow:1;
		text-align:center;
		font-size:25px;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__item--active{
    color: rgb(1, 1, 1);
	}

}

i{
  color: #415037;
}

.icon-hiking{
  width: 55px;
    margin: 0;
}

.mobile-bottom-nav__item{
  width: 0px;
}
