

.flex-container {
  display: flex;
  justify-content: center;
}

// commentaires
.comment {
  display: grid;
  grid-template-rows: max-content 30px 1fr;
  background-color: #d9e0dc;
  border-radius: 5%;
}

.sectioncomment{
  border-radius: 5%;
}

.contcom{
  display: flex;
  flex-direction: space-between;
}

// Avatar
.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar{
  width: auto;
  border-radius: 50%;
}

// boutton envoyer
.button {
  color: #1e8943;
  border: 3px solid #1b6020;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-product .card-product-infos {
  padding: 16px;
}

// position: relative
// left: 24vh;

.flex-container {
  display: flex;
  flex-direction: space-between;
}
