<h1>Categories Index</h1>


<div class="cards">
      <% @categories.each do |category| %>

          <div class="card-category" style="background-image: linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%)), url('<%= image_path(category.photo_path) %>')">
                <h3><%= category.name %></h3>
              </div>

            <% end %>
            </div>
